# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/prisma/migrations/
/prisma/dev.db
/prisma/dev.db-journal

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/App.framework.dSYM
examai_flutter/android/app/google-services.json
examai_flutter/ios/Runner/GoogleService-Info.plist
*.lock
*.log
